[Desktop Entry]
Type=Application
Name=TIOSK HDMI Audio
Exec=/home/kiosk/tiosk_hdmi_audio.sh
Terminal=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=4
