[Desktop Entry]
Type=Application
Name=XScreenSaver
Exec=xscreensaver -no-splash
Terminal=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
